/* RESET CSS */
body{
    margin: 0;
}
*:not(i){
    font-family: "Chakra Petch", sans-serif;
}
table, th, td, tr{
    border: 1px solid #222;
}
table{
    border-spacing: 0;
    border-collapse:collapse
}
.bg-gray-400{
    background-color: rgb(196, 196, 196);
}
.bg-white{
    background-color: white;
}
.bg-primary{
    background-color: var(--color-primary, '#00adb0');
}
.bg-primary-300{
    background-color: var(--color-primary-300, '#00adb0');
}
.bg-green{
    background-color: #15803d;
}
.text-primary{
    color: var(--color-primary, '#334155');
}
.text-white{
    color: white;
}
.text-center{
    text-align: center;
}

.font-bold{
    font-weight: 700;
}
.font-semibold{
    font-weight: 500;
}
.my-0{
    margin-top: 0;
    margin-bottom: 0;
}
.px-0{
    padding-left: 0;
    padding-right: 0;
}
.py-0{
    padding-top: 0;
    padding-bottom: 0;
}
.py-3{
    padding-top: 12px;
    padding-bottom: 12px;
}
.text-sm{
    font-size: 13px;
}
.text-lg{
    font-size: 20px;
}
.rounded-sm{
    border-radius: 4px;
}
.rounded{
    border-radius: 6px;
}
.rounded-lg{
    border-radius: 8px;
}
.rounded-xl{
    border-radius: 10px;
}
.list-style-type-none{
    list-style-type: none;
}
.text-decoration-none{
    text-decoration: none;
}
/* POSITION */
.static {
    position: static ;
}
.relative{
    position: relative;
}
.absolute{
    position: absolute;
}
.fixed{
    position: fixed;
}
.sticky{
    position: sticky;
}
/* CUSTOM CSS */
.promote-image{
    display: block;
    width: 100%;
    height: 100%;
}
/* HEADER */
.header-logo img{
    width: 70px;
}
.nav-list{
    padding: 0;
    /* bỏ kiểu list để không còn marker ở thẻ li */
    list-style-type: none;
}

.nav-link{
    color: black;
    /* thay đổi phần gạch chữ */
    text-decoration: none;
    padding: 12px 20px;
    display: block;
}
.nav-link.active{
    font-weight: bold;
    color: var(--color-primary);
}

.header-btn{
    padding: 12px 16px;
    border: none;
    cursor: pointer;
    font-size: 14px;
}


.parent-block{
	width:350px;
	height:400px;
	background-color:blueviolet;
}
.my-demo-block {
	width:150px;
	height:200px;
	background-color:cadetblue;
}
.child-1{
    top: 20px;
}
.child-2{
    background-color:rgb(200, 20, 223);

}

.footer{
    height: 100vh;
}

.main-header{
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: white;
}
.nav-item{
    position: relative;
}
.dropdown-list{
    width: max-content;
    padding: 12px;
    background-color: #fff;
    color: white;
    border: 1px solid #2222224a;
    display: none;
    position: absolute;
    top: 100%;
    border-radius: 6px;
}

.dropdown-wraper{
    width: fit-content;
}
.nav-item:hover .dropdown-list{
    display: block;
}


/* selector:pseudo-classes-name */
.nav-item:hover{
    background-color: #15803d47;
    border-radius: 6px;
}
.demo-text:hover{
    color: red;
    font-size: 100px;
    transition-duration: 2s;
}
.sign-in-btn:hover{
    background-color: rgb(198, 200, 200);
    border-radius: 6px;
}
.buy-btn:hover{
    background-color: #064d20;
    border-radius: 6px;
}
.search-block{
    border: 1px solid #2222224a;
    width: fit-content;
    padding: 8px 12px;
    border-radius: 6px;
}
.search-block input{
    border: none;
}

input:focus{
    border: none;
    outline: none;
}

.cart-counter{
    width: 18px;
    height: 18px;
    background-color: red;
    border-radius: 100%;
    font-size: 12px;
    top: -8px;
    right: -8px
}

.custom-divider{
    width: 80px;
    height: 4px;
    border-radius: 4px;
    background-color: #00c2c5;
}
h1{
    background-color: beige;
}
h1::after{
    content: '';
    display: block;
    width: 80px;
    height: 4px;
    border-radius: 4px;
    background-color: #00c2c5;
}

.demo-transform{
    width: 120px;
    height: 120px;
    background-color: chocolate;
    transition-duration: 2s;
}
.title p{
    font-size: 70px;
    font-weight: bold;
    position: relative;
    left: 50px;
}
/* Translate */
/* .demo-transform:hover{
    transform: translate(10px, 40px);
} */


/* Scale */
/* .demo-transform:hover{
    transform: scale(0.5);
} */

/* Rotate */
/* .demo-transform:hover{
    transform: rotateZ(180deg);
} */

/* Skew */
/*BANNER*/
.banner-img{
    width: 100%;
    display: block;
}
.title-img{
    width: 50px;
}
.title h1{
    font-size: 50px;
}
/*SECTION2*/
.title h1{
    padding-left: 50px;
}
.title-img{
    padding-right: 50px;
}
/*SECTION3*/
.product-card{
    min-height: 100vh;
}
.card img{
    width: 100%;
    height: 350px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
.card{
    border-color: gray;
}
.size{
    font-weight: bold;
}
.weight{
    font-weight: bold;
}
.card-size{
    opacity: 70%;
}
.card-weight{
    opacity: 70%;
}
.description{
    opacity: 70%;
}
.card{
    border: 1px solid rgb(192, 191, 191);
}
.padding-20{
    padding: 20px;
}
.card img:hover{
    transition-duration: 0.5s;
    transform: scale(1.2);
}
.card{
    overflow: hidden;
}
.nav-item img{
    width: 25px;
    padding-left: 4px;
}